<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
   <a href="/student"><p>home</p></a> 
   <a href="/student/form"><p>form</p></a> 
   <a href="/student/login"><p>login</p></a> 
   
</body>
</html>